html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.main-container {
    display: flex;
    justify-content: center;
    width: 70vw;
    height: 90vh;
    max-height: 90vh;
    max-width: 70vw;
    --main-color: rgb(164, 22, 22);
    position: relative;
    border: thick double var(--main-color);
}

.left-player,
.right-player {
    background-color: var(--main-color);
    top:0px;
    width: 10px;
    height: 100px;
    position: absolute;
}

.left-player {
    left: 200px;
}

.right-player {
    right: 200px;
}

.ball {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--main-color);
}